<?xml version="1.0"?>
<!-- Configuration for nightly Z3 jobs -->
<Configuration>

  <Cluster hostname="RR1-N13-16-H44" 
	   nodegroup="ComputeNodes"
	   username="NIGHTLY" 
	   executor="worker.exe" />

  <AlternativeCluster name="RR1-N13-03-H41" />
  <AlternativeCluster name="RR1-N13-09-H44" />
  <AlternativeCluster name="RR1-N13-11-H41" />
  <AlternativeCluster name="RR1-N13-22-H01" />                                 
  
  <Database connectionString="Persist Security Info=False;Integrated Security=True;Server=RR1-N13-24-Q02.redmond.corp.microsoft.com;initial catalog=z3perf;" />
  
  <Job sharedDirectory="\\msr-arrays\scratch\msr-pool\Europe\cwinter\"
       category="smtlib-latest"
       extension="smt2|smt"
       locality="Socket" 
       timeLimit="1200" 
       memoryLimit="2147483648"/>
  
  <Z3 drop_dir="\\risebuild\drops\z32"
      release_dir="external"
      exe="z3.exe" 
      parameters="" />

  <Note text="Automatic regression." />
  
</Configuration>
