*.produced.out
*~
*.pyc
*.pyo
.z3-trace
a.out
callgrind.out.*
err.txt
out.txt

# Visual Studio Files
*.user
*.suo
*.pdb
*.dll
*.cache
*.exe
*.manifest

ClusterExperiment/*/obj/*
ClusterExperiment/*/bin/*
ClusterExperiment/Release/*
ClusterExperiment/packages/*
*.sdf
ClusterExperiment/Debug/
