<?xml version="1.0" encoding="utf-8" ?>
<!-- Configuration for nightly Z3 Test run -->
<Configuration>

  <!-- General Settings -->
  <General DROPDIR="c:\dev\"
       TIMEOUT = "100.0"
       MEMOUT = "2147483648"
       />
  
  <Developer name="cwinter@microsoft.com" />


  <!-- What configurations shall we run? -->
  <TestConfig name="smt2-debug-x32"
          type="smt2"
          bindir="Debug"
          bin="z3.exe"
          args="-smt2"
          />

  <TestConfig name="smt2-debug-x64"
          type="smt2"
          bindir="x64\Debug"
          bin="z3.exe"
          args="-smt2"
          />

<!--
  <TestConfig name="smt2-external-x32"
          type="smt2"
          bindir="external"
          bin="z3.exe"
          args="-smt2"
          />

  <TestConfig name="smt2-external-x64"
          type="smt2"
          bindir="x64\external_64"
          bin="z3.exe"
          args="-smt2"
          />
-->
  
  <TestConfig name="python-dbg-x32"
          type="py"
          bindir="Debug"
          bin="z3_dbg.dll"
          args="python"
          executor="C:\python27\python.exe"
          />

  <TestConfig name="python-dbg-x64"
          type="py"
          bindir="x64\Debug"
          bin="z3_dbg.dll"
          args="python"
          executor="C:\python27\python.exe"
          />

  <TestConfig name="cs-dbg-x32"
        type="cs"
        bindir="Debug"
        bin="Microsoft.Z3.dll"
        args=""
        executor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\csc.exe"
        executorArgs="/debug+ /nologo"
        driver="driver.cs"
        />

  <TestConfig name="cs-dbg-x64"
        type="cs"
        bindir="x64\Debug"
        bin="Microsoft.Z3.dll"
        args=""
        executor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\csc.exe"
        executorArgs="/debug+ /nologo"
        driver="driver.cs"
        />
  

  <!-- Where are the test files? -->
  <!--
  <Directory name="c:\dev\z3-extra\regression\test" type="smt2"/>
  <Directory name="c:\dev\z3-extra\regression\python" type="py"/> 
  -->
  <Directory name="c:\dev\z3-extra\regression\cs" type="cs"/>

  <ExcludeDirectory name="float" />

</Configuration>
